@import '../../styles/global';

.select-container {
  display: flex;
  margin-bottom: 1em;
  align-items: center;
}

.app-container {
  width: 100;
  display: flex;
  margin-top: 2em;
  margin-left: 1em;
}

.output-container {
  margin-left: 2em;
  width: 80%;
  margin-right: 1em;
}

.output {
  background-color: #1e1e1e;
  color: skyblue;
  width: 95%;
  height: 15em;
  padding: 1em;
  @include border;
  overflow: auto;
  white-space: pre-line;
}

.response-title{
  font-size: 25px;
  margin: 0;
  color: skyblue;
}

#input {
  resize: vertical;
  width: 94%;
  height: 8em;
  padding: 1em;
  @include shadow-border;
  font-size: 1.5em;
}

.compile-button {
  @include shadow-border;
  float: right;
  margin-top: 1em;
  height: 3.5em;
  width: 12em;
  font-size: 1em;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.made-by{
  color:rgb(105, 84, 59);
  text-align: right;
  margin-right: 2em;
}

.loader {
  border: 0.5em solid dimgray;
  border-top: 0.5em solid skyblue;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  animation: spin 1s linear infinite;
}

h1 a{
  margin-right: 7px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

